* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

/* a {
    text-decoration: none;
} */

body {
  background-color: #1a0b2e;
  font-family: 'Inter', sans-serif;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

header nav ul {
  display: flex;
  font-size: 16px;
  line-height: 1.2;
  color: white;
  font-weight: 500;
  gap: 32px;
}

.color-btn {
  background: #3f5efb;
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 16px;
  font-weight: 500;
}

.color-btn svg {
  width: 15px;
}

.hr-border {
  border: 1px solid #412567;
}

#hero-image {
  width: 100%;
  background-image:
    url(./assets/microphone.png), url(./assets/hero-circle.png), url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position:
    50% 30%,
    50% 20%,
    0% 40%;

  background-size:
    auto,
    410px 410px,
    cover;
  min-height: 760px;

  /* border: 1px solid white; */
  position: relative;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 37%;
}

.hero-content h1 {
  font-size: 60px;
}

.hero-content p {
  font-size: 16px;
  font-weight: normal;
  padding: 24px 0;
}

.hero-btn-container {
  margin-bottom: 100px;
  display: flex;
  gap: 8px;
}

.spotify-btn img {
  padding-right: 8px;
}

.subscribe-btn {
  color: #00ff88;
  background-color: transparent;
  font-size: 16px;
  border: 1px solid #00ff88;
  padding: 10px 20px;
  border-radius: 20px;
}

.subscribe-btn img {
  padding-right: 8px;
}

#about {
  text-align: center;
  padding: 50px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#about h1 {
  font-size: 48px;
  font-weight: bold;
}

#about p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  padding-top: 16px;
  padding-bottom: 16px;
  color: white;
  opacity: 0.7;
}

.ratings-card-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  text-align: center;
}

.ratings-card h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #00ff88;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.ratings-card h4 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: white;
  opacity: 0.7;
  text-transform: uppercase;
}

.choose {
  padding: 120px 0;
  background-color: #230e3d;
}

.choose h1 {
  text-align: center;
  padding-bottom: 40px;
}

.choose-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

.double-column {
  grid-column: span 2;
  grid-row: span 1;
}

.single-column-double-row {
  grid-column: span 1;
  grid-row: span 2;
}

.choose-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 40px;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 30px;
}

.choose-card h2 {
  font-size: 24px;
  font-weight: bold;
}

.choose-card p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.7;
}

.featured {
  padding: 120px 0;
}

.featured h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 40px;
}

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 30px;
  overflow: hidden;
}

.feature-card iframe {
  width: 100%;
}

.feature-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
}

.feature-content h3 {
  font-size: 24px;
}

.feature-content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.7;
}

.feature-time {
  display: flex;
  gap: 5px;
  color: #00ff88;
  font-size: 16px;
  font-weight: 700;
}

.feature-time img {
  object-fit: contain;
}

.feature-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
