* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}

/* a {
    text-decoration: none;
} */

body {
  background-color: #1a0b2e;
  font-family: 'Inter', sans-serif;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

header .hamburger-menu {
  visibility: hidden;
}

.logo {
  cursor: pointer;
}

header nav ul {
  display: flex;
  font-size: 16px;
  line-height: 1.2;
  color: white;
  font-weight: 500;
  gap: 32px;
  cursor: pointer;
}

.color-btn {
  background: #3f5efb;
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 16px;
  font-weight: 500;
}

.color-btn svg {
  width: 15px;
}

.hr-border {
  border: 1px solid #412567;
}

.hero {
  position: relative;
  width: 100%;
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 10%;
}

.hero-image {
  background-image: url('./assets/hero-circle.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-image img {
  object-fit: contain;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.hero-content h1 {
  font-size: 60px;
  font-weight: 900;
}

.hero-content p {
  font-size: 16px;
  font-weight: 500;
  padding: 24px 0;
  opacity: 0.9;
}

.hero-btn-container {
  margin-bottom: 100px;
  display: flex;
  gap: 8px;
}

.spotify-btn img {
  padding-right: 8px;
}

.subscribe-btn {
  color: #00ff88;
  background-color: transparent;
  font-size: 16px;
  border: 1px solid #00ff88;
  padding: 10px 20px;
  border-radius: 20px;
}

.subscribe-btn img {
  padding-right: 8px;
}

#about {
  text-align: center;
  padding: 50px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#about h1 {
  font-size: 48px;
  font-weight: bold;
}

#about p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  padding-top: 16px;
  padding-bottom: 16px;
  color: white;
  opacity: 0.7;
}

.ratings-card-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  text-align: center;
}

.ratings-card h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #00ff88;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.ratings-card h4 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: white;
  opacity: 0.7;
  text-transform: uppercase;
}

.choose {
  padding: 120px 0;
  background-color: #230e3d;
}

.choose h1 {
  text-align: center;
  padding-bottom: 40px;
}

.choose-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

.double-column {
  grid-column: span 2;
  grid-row: span 1;
}

.single-column-double-row {
  grid-column: span 1;
  grid-row: span 2;
}

.choose-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 40px;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 30px;
}

.choose-card h2 {
  font-size: 24px;
  font-weight: bold;
}

.choose-card p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.7;
}

.featured {
  padding: 120px 0;
}

.featured h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 40px;
}

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 30px;
  overflow: hidden;
}

.feature-card iframe {
  width: 100%;
}

.feature-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
}

.feature-content h3 {
  font-size: 24px;
}

.feature-content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.7;
}

.feature-time {
  display: flex;
  gap: 5px;
  color: #00ff88;
  font-size: 16px;
  font-weight: 700;
}

.feature-time img {
  object-fit: contain;
}

.feature-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.host {
  padding: 120px 0;
  color: white;
}

.host h1 {
  text-align: center;
  font-size: 48px;
  padding-bottom: 40px;
}

.host-content {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  gap: 24px;
  padding: 40px;
}

.host-image img {
  max-width: 200px;
  max-height: 200px;
}

.host-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.host-description h3 {
  font-size: 32px;
  font-weight: 800;
}

.host-description p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.7;
}

.social-icon-container {
  display: flex;
  gap: 8px;
}

.social-icon {
  height: 40px;
  width: 40px;
  border: 1px solid rgb(83, 60, 114);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon img {
  object-fit: contain;
}

footer {
  width: 100%;
  text-align: center;
  padding: 120px 0;
  background-image: url('./assets/footer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.7;
}

.footer-logo img {
  width: 410px;
  height: 60px;
}

footer .social-media-container {
  padding: 32px 0;
}

footer .social-media-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

footer .social-media-container ul li {
  display: flex;
  justify-content: center;
}

footer .social-media-container ul li img {
  object-fit: contain;
  padding-right: 8px;
}

@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }

  header nav,
  header div.nav-btn {
    display: none;
  }

  header .hamburger-menu {
    visibility: visible;
    cursor: pointer;
  }

  .hero {
    min-height: 460px;
  }

  .hero-container {
    top: 15%;
  }

  div.hero-image {
    background-size: 200px;
    max-height: 200px;
  }

  .hero-image img {
    object-fit: contain;
    width: 80px;
    height: 80px;
  }

  .hero-content {
    text-align: center;
    padding-top: 24px;
  }

  .hero-content h1 {
    font-size: 40px;
    font-weight: 900;
  }

  #about {
    padding: 40px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  #about h1 {
    font-size: 32px;
  }

  .ratings-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 40px 20px;
  }

  .ratings-card h1 {
    font-size: 40px;
  }

  /*  */

  .choose {
    padding: 40px 20px;
  }

  .choose h1 {
    font-size: 32px;
    padding-bottom: 16px;
  }

  .choose-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 16px;
  }

  .single-column-double-row {
    grid-column: span 1;
    grid-row: span 1;
  }

  .double-column {
    grid-column: span 1;
    grid-row: span 1;
  }

  .choose-card {
    padding: 24px;
  }

  /*  */

  .feature-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  .featured {
    padding: 40px 20px;
  }

  .featured h1 {
    font-size: 32px;
    padding-bottom: 24px;
  }

  .feature-card {
    gap: 16px;
  }

  .feature-card iframe {
    width: 100%;
  }

  .feature-content {
    gap: 8px;
    padding: 16px;
  }

  .feature-content h3 {
    font-size: 20px;
  }

  /*  */

  .host {
    padding-top: 20px;
    padding-bottom: 60px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .host h1 {
    font-size: 32px;
    padding-bottom: 24px;
  }

  .host-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    padding: 24px;
  }

  .host-image img {
    max-width: 200px;
    max-height: 200px;
  }

  .host-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .host-description h3 {
    font-size: 24px;
  }

  /*  */

  footer {
    padding: 40px 0;
  }

  .footer-logo img {
    width: 220px;
    height: 32px;
  }

  footer .social-media-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}
